
h1 { 
    text-align: center; 
}
body {
    background-color: #dddddd;
}

/* Tables */
table.containertable {
    width: 100%;
    clear: both;
}
table.lefttable {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: white;
    color: black;
}
table.righttable {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: white;
    color: black;
}
table.lefttable + table.lefttable {
    margin-top: 1em;
}
td.containercell {
    padding: 10px;
}
td.titlecell { 
    color: white; 
    background-color: #9F0431;
    border: 2px solid black;
    font-weight: bold; 
    text-align: center;
    padding: 4px;
}
td.labelcell {
    border: 1px solid black;
    padding: 2px;
}
td.contentcell {
    text-align: center;
    padding: 2px;
    border: 1px solid black;
}
td.contentcell2 {
    text-align: left;
    padding: 2px;
    border: 1px solid black;
}

/* Links */
a {
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a.none {
    color: black;
    text-decoration: none;
}
a.titlelink {
    color: white;
}
a.titlelink:hover {
    color: #A0A0FF;
    text-decoration: none;
}

/* rendering for RSS link, shamelessly copied from ikiwiki */
a.feedlink {
  background: #ff6600;
  color: white !important;
  border-left: 1px solid #cc9966;
  border-top: 1px solid #ccaa99;
  border-right: 1px solid #993300;
  border-bottom: 1px solid #331100;
  padding: 0px 0.5em 0px 0.5em;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: small;
  text-decoration: none;
  margin-top: 1em;
}

.dm-tag {
  /* someone please provide an icon-like rendering for this ... */
  font-size: 70%;
  padding-left: 2px;
  padding-right: 2px;
}

.lownmu-tag {
  /* someone please provide an icon-like rendering for this ... */
  font-size: 70%;
  padding-left: 2px;
  padding-right: 2px;
}

td > ul {
	padding-left: 10px;
	margin: 0;
	margin-left: 5px;
}

li > ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

form > p {
	margin: 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

#src_files ul {
  padding: 0;
}
.srcfile {
  display: inline;
  font-family: monospace;
  padding-left: 1px;
  padding-right: 1px;
}

#bugs_rc { font-size: small; }
#bugs_in { font-size: small; }
#bugs_mw { font-size: small; }
#bugs_fp { font-size: small; }
span.indented { margin-left: 1em; }

#todo { background-color: blue }
#problems { background-color: red }

a img { border: none; }

.codesearch {
	max-width: 90%;
	-moz-box-sizing: border-box; /* Mozilla haven't unprefixed yet */
	box-sizing: border-box;
}
