
h1 { 
    text-align: center; 
}
body {
    background-color: #dddddd;
}

/* Tables */
table.containertable {
}
table.lefttable {
    border-collapse: collapse;
    border: 2px solid black;
    background-color: white;
    color: black;
}
table.righttable {
    border-collapse: collapse;
    border: 2px solid black;
    background-color: white;
    color: black;
}
td.containercell {
    padding: 10px;
}
td.titlecell { 
    color: white; 
    background-color: #9F0431;
    border: 2px solid black;
    font-weight: bold; 
    text-align: center;
    padding: 4px;
}
td.labelcell {
    border: 1px solid black;
    padding: 2px;
}
td.contentcell {
    text-align: center;
    padding: 2px;
    border: 1px solid black;
}
td.contentcell2 {
    text-align: left;
    padding: 2px;
    border: 1px solid black;
}

/* Links */
a:hover {
    color: blue;
}
a.none {
    color: black;
}
a.titlelink {
    color: white;
}
a.titlelink:hover {
    color: #A0A0FF;
}

.codesearch {
	max-width: 90%;
	-moz-box-sizing: border-box; /* Mozilla haven't unprefixed yet */
	box-sizing: border-box;
}
