/* Debian PTS stylesheet.
 *
 * Copyright © 2007-2011 Stefano Zacchiroli <zack@debian.org>
 *           © 2007      Dan Callahan <dan.callahan@gmail.com>
 *           © 2007      Enrico Tassi <gareuselesinge@debian.org>
 * License: GNU General Public License (GPL), version 3 or above
 */

/* --- Whole-Page --- */
body {
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans", "Bitstream Vera Sans", sans-serif; /*Prefer Free Fonts*/
    background: #fff url('debian.png') no-repeat 10px 7px;
    color: #000;
    font-size: 100%;
}

a:link    { color: #0755d7; text-decoration: none; }
a:visited { color: #0755d7; text-decoration: none; }
a:hover   { color: #0755d7; text-decoration: underline; }
a:active  { color: #f00;    text-decoration: none; }
a img     { border: none; }

.containertable { width: 100%; }

/* --- Header --- */
body > form { /* "Jump to package" */
    margin: 0.3em;
    font-size: 80%;
    padding: 0.5em;
    border: 1px solid #aaa;
    background-color: #dfdfdf;
}
.quickform { /* "Jump to package" */
    margin: 0.3em;
    font-size: 80%;
    padding: 0.5em;
    border: 1px solid #aaa;
    background-color: #dfdfdf;
}

h1 {
    margin: 10px 0 0 0;
    padding: 20px 0 0 280px;
    font-size: 150%;
    min-height: 60px;
    height: auto !important; /* "Min-Height Fast Hack" */
    height: 60px; 
} 
h1 small { vertical-align: super; }

/* --- Content Pane --- */
div#body {
    border-top: 2px solid #d70751;
    background: #dfdfdf;
    text-align: center;
}

div.maincol {
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
div.left { width: 26%; }
div.center {
    width: 56%;
    padding-left: 2px;
    padding-right: 2px;
}
div.right { width: 16%; }

div.block {
    border-collapse: collapse;
    border: 1px solid #999;
    background: #fff;
    margin-bottom: 10px;
}

h1 {
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 5px;
}
h1 small {
    font-style: normal;
    font-size: 60%;
}

h2 {
    padding: 0.2em 0.2em 0.1em 0.2em;
    font-weight: bold;
    font-size: 100%;
    background: #d70751;
    color: #fff;
    border-top: 3px solid #999;
    border-bottom: 1px solid #999;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

dl {
    margin-top: 0;
    margin-bottom: 5pt;
}
dt:after { content: ":"; }
dt {
    font-weight: bold;
    float: left;
    clear: left;
    text-align: right;
    border-bottom: 1px dotted #999;
}
dd {
    border-bottom: 1px dotted #999;
}

div.binaries ul {
    max-height: 25em;
    overflow: auto;
}

/* different margins are required for different <dl>'s */
div.info dt { width: 5.5em; }
div.info dd { margin-left: 5.7em; }
div.versions dt { width: 7.4em; }
div.versions dd { margin-left: 7.6em; }
div.bugs dt { width: 4em; }
div.bugs dd { margin-left: 4.2em; }

/* - Edge Tables - */
tr#bugs_rc { font-size: 90%; }
tr#bugs_in { font-size: 90%; }
tr#bugs_mw { font-size: 90%; }
tr#bugs_fp { font-size: 90%; }

td > form { margin: 0.4em 0 0.4em 0.4em; padding: 0; } /* PTS subscribe */

#news-list {
    max-height: 20em;
    overflow: auto;
}

/* - Central Table - */
#problems { background: #0755d7; color: #ffffff; }
#todo { background: #0755d7; color: #ffffff; }
abbrev { border-bottom: 1px dotted #000000; }
    
/* --- Footer --- */
div#body > hr { display: none; }

div.footer {
    padding: 1em 0;
    background-color: #fff;
    text-align: center;
    border-top: 2px solid #d70751;
    margin: 0 0 0 0;
    border-bottom: 0;
    font-size: small;
}

tt { font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace; }

/* --- Misc --- */
form > p { margin: 0; padding: 0; }

a.feedlink { /* Little orange RSS button */
    background: #f60                  !important;
    color: #fff                       !important;
    border: 1px solid                 !important;
    border-color: #fc9 #630 #330 #f96 !important;
    padding: 0 3px                    !important;
    font-weight: bold                 !important;
    font-size: 70%                    !important;
    text-decoration: none             !important;
    vertical-align: 0.2em             !important;
    /* Without !important, inherets from td.titlecell a:* */
}

ul {
    /* list-style-type: none; */
    margin-top: 0;
    margin-bottom: 5px;
}
/* li { margin-top: 0.4em; } */
/* td > ul { padding-left: 1em; } */
a.none { color: #000 !important; text-decoration: none !important; }

span.more div.popup {
    display: none;
}
span.more:hover div.popup {
    display: block;
    position: absolute;
    border: solid 1pt;
    padding: 5px;
    margin: 10px;
    z-index: 100;
    font-size: small;
    background-color: #dfdfdf;
    width: 30%;
}

span.indented {
    font-weight: normal;
}

.maint-markers {
    display: inline;
    margin-left: 1em;
    font-size: 70%;
}

.dsc {
    float: right;
    height: 0;
    position: relative;
}

.codesearch {
	max-width: 90%;
	-moz-box-sizing: border-box; /* Mozilla haven't unprefixed yet */
	box-sizing: border-box;
}
